* {
    font-family: 'Avant Garde', sans-serif;
}

.nav li {
    display: inline;
    
}

.nav a {
    display: inline;
    text-decoration: none;
    color: white
}

.main-header {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/518097-background-hd.jpg");
    background-size: cover;
}

.about-section {
    background-color: white;
}

h1 {
    color: white;
}
font-family: font-family: 'Luckiest Guy', cursive;
